@import "tailwindcss";

@import "./dark.css";
@import "./light.css";

@layer utilities {
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
    @apply bg-brand
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary-background rounded-lg
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-lg
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400
  }

  .dark {
    ::-webkit-scrollbar {
      @apply bg-brand
    }

    ::-webkit-scrollbar-track {
      @apply bg-brand-active rounded-lg
    }
  }
}

@theme {
  --color-brand: var(--color-brand);

  --color-brand-active: var(--color-brand-active);

  --color-primary-background: var(--color-primary-background);

  --color-separator: var(--color-separator);

  --color-checkbox-off: var(--color-checkbox-off);
  --color-checkbox-on: var(--color-checkbox-on);

  --color-active-bar-alt: #65e7c6;
  --color-active-bar: var(--color-active-bar);

  --color-button: #3074D6;
  --color-button-hover: #327AE3;

  --shadow-brand-active: var(--shadow-brand-active);

  --color-brand-hover: var(--color-brand-hover);

  --color-primary: var(--color-primary);

  --color-inactive: #E5E4EB;

  --color-secondary: #000000;

  --color-input-border: oklch(87.2% 0.01 258.338);

  --color-tracker-active: var(--color-tracker-active);
}